scratch\ pad.ipynb
.ipynb_checkpoints/*
animations/media/videos/scene/*
animations/media/Tex/*
animations/media/texts/*
animations/__pycache__/*
animations/*
storyboards/*
__pycache__/*
_build/*
_build/.doctrees/*
*.svg
